/*COLORS*/
button {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #FFFFF9;
  background-color: #3864BB;
  border-radius: 2px;
  border: none;
  padding: 14px 20px;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: #FFFFF9;
}

.button-secondary {
  background-color: #FFFFF9;
  border: 2px solid #3864BB;
}
.button-secondary a {
  color: #182A4F;
}

.button-email {
  background-color: #c1cfea;
  color: #182A4F;
  font-size: 18px;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition: color 0.3s;
  padding: 14px 20px;
}
.button-email a {
  color: #182A4F;
}
.button-email:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #A3B8E0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.3s ease-out;
  border-radius: 2px;
}
.button-email:hover::before {
  transform: scaleX(1);
}

/*HOVER ANIMATION - desktop*/
@media only screen and (min-width: 801px) {
  .button-primary {
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition: color 0.3s;
  }
  .button-primary:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #284785;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
    border-radius: 2px;
  }
  .button-primary:hover::before {
    transform: scaleX(1);
  }
  .button-secondary {
    border: none;
    background-color: #EBF0F8;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition: color 0.3s;
  }
  .button-secondary:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #c1cfea;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
    border-radius: 2px;
  }
  .button-secondary:hover::before {
    transform: scaleX(1);
  }
}