@charset "UTF-8";
/*COLORS*/
/*FONTS*/
/*HERO SECTION - general*/
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.hero-section p {
  order: -1;
}

/*HERO SECTION - mobile*/
@media only screen and (max-width: 400px) {
  .hero-section {
    background-image: url("./../img/background-about-mobile.png");
    background-size: cover;
    padding-inline: 24px;
  }
  .hero-section p {
    margin-bottom: 2vw;
  }
  .hero-section button {
    margin-top: 6vw;
  }
}
/*HERO SECTION - tablet*/
@media only screen and (min-width: 401px) and (max-width: 800px) {
  .hero-section {
    background-image: url("./../img/background-about-mobile.png");
    background-size: cover;
    padding-inline: 24px;
  }
  .hero-section h1 {
    font-size: 10vw;
    line-height: 11vw;
  }
  .hero-section p {
    margin-bottom: 1vw;
  }
  .hero-section button {
    margin-top: 6vw;
  }
}
/*HERO SECTION - desktop*/
@media only screen and (min-width: 801px) {
  .hero-section {
    background-image: url("./../img/background-about-desktop.png");
    background-size: cover;
  }
  .hero-section h1 {
    font-weight: 500;
    font-size: 7vw;
    line-height: 7vw;
  }
  .hero-section .first-line {
    display: inline;
    margin-right: 14vw;
  }
  .hero-section .second-line {
    display: inline;
    margin-left: 14vw;
  }
  .hero-section p {
    font-size: 20px;
    margin-bottom: 1vw;
  }
  .hero-section button {
    margin-top: 4vw;
  }
}
/*CV - general*/
.cv-section {
  margin-top: 0;
  margin-bottom: 8vw;
}
.cv-section .cv-section-headline {
  margin-bottom: 32px;
}
.cv-section .cv-section-content p:nth-child(2) {
  margin-bottom: 32px;
}
.cv-section .cv-section-content .skills {
  opacity: 0.7;
  margin-bottom: 16px;
}

/*CV - mobile*/
@media only screen and (max-width: 400px) {
  .cv-button-desktop {
    display: none;
  }
  .timeline {
    margin-top: 40px;
  }
}
/*CV - tablet*/
@media only screen and (min-width: 401px) and (max-width: 800px) {
  .cv-button-desktop {
    display: none;
  }
  .timeline {
    margin-top: 40px;
  }
}
/*CV - desktop small*/
@media only screen and (min-width: 801px) and (max-width: 1179px) {
  .cv-section .cv-section-headline {
    text-align: center;
    margin-bottom: 5vw;
  }
  .cv-section .cv-section-content {
    display: flex;
    justify-content: space-between;
  }
  .cv-section .cv-section-content div:first-of-type {
    width: 50%;
    min-width: 280px;
    margin-right: 5vw;
  }
  .cv-section .cv-button-mobile {
    display: none;
  }
  .cv-section .cv-button-desktop {
    margin-top: 32px;
  }
}
/*CV - desktop big*/
@media only screen and (min-width: 1180px) {
  .cv-section .cv-section-headline {
    text-align: center;
    margin-bottom: 5vw;
  }
  .cv-section .cv-section-content {
    display: flex;
    justify-content: space-between;
  }
  .cv-section .cv-section-content div:first-of-type {
    width: 40%;
    max-width: 30vw;
  }
  .cv-section .cv-button-mobile {
    display: none;
  }
  .cv-section .cv-button-desktop {
    margin-top: 32px;
  }
}
/*TIMELINE - general*/
.timeline ul {
  position: relative;
  list-style: none;
}
.timeline ul li {
  border-left: 1px solid #A3B8E0;
  padding-left: 20px;
  padding-bottom: 40px;
  margin-left: 16px;
}
.timeline ul li:nth-last-child(2) {
  border-left: 1px dashed #A3B8E0;
  padding-bottom: 64px;
}
.timeline ul li:last-child {
  border-left: none;
}
.timeline ul li:before {
  content: "";
  width: 17px;
  height: 17px;
  background: #FFFFF9;
  border: 1px solid #A3B8E0;
  border-radius: 50%;
  position: absolute;
  left: 7px;
}
.timeline ul li .info {
  margin-bottom: 8px;
  opacity: 0.7;
}
.timeline ul li h3 {
  margin-bottom: 4px;
}

/*TIMELINE - desktop*/
@media only screen and (min-width: 1180px) {
  .timeline {
    display: flex;
    justify-content: end;
  }
  .timeline ul li {
    max-width: 460px;
    padding-left: 54px;
  }
  .timeline ul li:before {
    width: 37px;
    height: 37px;
    left: -3px;
  }
  .info {
    font-size: 16px;
  }
  .data {
    position: absolute;
    left: -180px;
    margin-top: 6px;
    text-align: center;
  }
}
/*LAST PROJECTS - general*/
.last-project-section {
  background-color: #1F3767;
  color: #FFFFF9;
  padding-block: 7vw;
}
.last-project-section .last-project-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 4vw;
}
.last-project-section .last-project-content .last-project-card {
  width: 30%;
  border-radius: 8px;
  background-color: rgba(255, 255, 249, 0.062745098);
}
.last-project-section .last-project-content .last-project-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.last-project-section .last-project-content .last-project-card div {
  padding: 0 24px 32px 24px;
}
.last-project-section .last-project-content .last-project-card div h3 {
  margin: 16px 0 8px 0;
}
.last-project-section .last-project-content .last-project-card div p {
  margin-bottom: 24px;
}
.last-project-section .last-project-content .last-project-card div a {
  color: #FFFFF9;
  text-decoration: none;
  text-transform: uppercase;
}
.last-project-section .last-project-content .last-project-card div a img {
  width: 40px;
  margin-left: 8px;
}

/*LAST PROJECTS - mobile & tablet small*/
@media only screen and (max-width: 600px) {
  .last-project-section {
    margin-block: 56px;
  }
  .last-project-section .last-project-headline {
    text-align: left;
  }
  .last-project-section .last-project-content {
    display: flex;
    flex-direction: column;
  }
  .last-project-section .last-project-content .last-project-card {
    width: 100%;
    margin-top: 32px;
  }
  .last-project-section .last-project-content .last-project-card:first-of-type {
    margin-top: 16px;
  }
}
/*LAST PROJECTS - tablet & desktop small*/
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .last-project-section .last-project-content .last-project-card {
    width: 48%;
  }
  .last-project-section .last-project-content .last-project-card:last-child {
    display: none;
  }
}
/*REVIEW - general*/
.review-section {
  margin-block: 7vw;
}
.review-section .review-headline {
  text-align: center;
}
.review-section .review-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 4vw;
}
.review-section .review-content .review-card {
  width: 30%;
  border-radius: 8px;
  background-color: #EBF0F8;
  position: relative;
  padding: 32px 24px 32px 24px;
}
.review-section .review-content .review-card .review-person {
  margin-bottom: 24px;
  display: flex;
}
.review-section .review-content .review-card .review-person img {
  width: 20%;
  height: 20%;
}
.review-section .review-content .review-card .review-person .review-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}
.review-section .review-content .review-card .review-person .review-name p:first-of-type {
  font-family: "swear-display", serif;
  font-size: 24px;
  margin-bottom: 4px;
}
.review-section .review-content .review-card .review-person .review-name p:last-of-type {
  opacity: 0.7;
  font-size: 16px;
  line-height: 20px;
}
.review-section .review-content .review-card p {
  position: relative;
  z-index: 1;
}
.review-section .review-content .review-card .review-decoration {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

/*REVIEW - mobile & tablet small*/
@media only screen and (max-width: 600px) {
  .review-section {
    margin-block: 56px;
  }
  .review-section .review-headline {
    text-align: left;
  }
  .review-section .review-content {
    display: flex;
    flex-direction: column;
  }
  .review-section .review-content .review-card {
    width: 100%;
    margin-top: 32px;
  }
  .review-section .review-content .review-card:first-of-type {
    margin-top: 16px;
  }
}
/*REVIEW - tablet & desktop small*/
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .review-section .review-content .review-card {
    width: 48%;
  }
  .review-section .review-content .review-card:last-child {
    display: none;
  }
}
/*CONTACT - general*/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./../img/background-contacts-light.png");
  background-size: cover;
  color: #182A4F;
  padding-block: 24px;
  height: calc(100vh - 68px); /*68px è l'altezza del menu mobile*/
}
.contact a {
  color: #182A4F;
}
.contact div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .contact-description {
  flex-direction: column;
  text-align: center;
}
.contact .contact-description h2 {
  margin-bottom: 32px;
}
.contact .contact-description a {
  text-decoration: none;
  font-size: 20px;
  margin-top: 8px; /*non funziona e non so perchè*/
}

/*CONTACT - tablet*/
@media only screen and (min-width: 401px) and (max-width: 800px) {
  .contact h2 {
    font-size: 10vw;
  }
  .contact a {
    font-size: 18px;
  }
  .contact .contact-description a {
    margin-top: 24px; /*non funziona e non so perchè*/
    font-size: 24px;
  }
}
/*CONTACT - desktop*/
@media only screen and (min-width: 801px) {
  .contact {
    background-image: url("./../img/background-contacts-desktop-light.png");
    padding-inline: 5vw;
    height: calc(100vh - 98px);
  }
  .contact .contact-description h2 {
    font-size: 8vw;
    line-height: 9vw;
    font-weight: 500;
  }
  .contact .contact-description p {
    font-size: 20px;
  }
  .contact .contact-description p a {
    margin-top: 40px; /*non funziona e non so perchè*/
    font-size: 26px;
  }
  .contact div:last-child a {
    font-size: 18px;
  }
}